<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700">
    <link rel="stylesheet" href="/stylesheets/shop.css">
    <title>shopping cart</title>
</head>
<body>
    <!--topbar-->
    <header>
        <nav class="topbar">
            <ul class="topbar_list">
                <li class="topbar_list_logo"><a href="./">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512">
                        <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path d="M211.8 0c7.8 0 14.3 5.7 16.7 13.2C240.8 51.9 277.1 80 320 80s79.2-28.1 91.5-66.8C413.9 5.7 420.4 0 428.2 0h12.6c22.5 0 44.2 7.9 61.5 22.3L628.5 127.4c6.6 5.5 10.7 13.5 11.4 22.1s-2.1 17.1-7.8 23.6l-56 64c-11.4 13.1-31.2 14.6-44.6 3.5L480 197.7V448c0 35.3-28.7 64-64 64H224c-35.3 0-64-28.7-64-64V197.7l-51.5 42.9c-13.3 11.1-33.1 9.6-44.6-3.5l-56-64c-5.7-6.5-8.5-15-7.8-23.6s4.8-16.6 11.4-22.1L137.7 22.3C155 7.9 176.7 0 199.2 0h12.6z"/>
                    </svg>
                </a>
                </li>
                <li class="topbar_list_search">
                    <svg class="topbar_list_search_icon" viewBox="0 0 512 512" width="95" title="search">
                        <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" />
                      </svg>
                    <input type="text" class="topbar_list_search_input" autofocus placeholder=" ">
                    <svg class="topbar_list_search_close" viewBox="0 0 352 512" width="100" title="times">
                        <path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" />
                    </svg>
                    <svg class="topbar_list_search_delete" viewBox="0 0 640 512" width="100" title="backspace">
                        <path d="M576 64H205.26A63.97 63.97 0 0 0 160 82.75L9.37 233.37c-12.5 12.5-12.5 32.76 0 45.25L160 429.25c12 12 28.28 18.75 45.25 18.75H576c35.35 0 64-28.65 64-64V128c0-35.35-28.65-64-64-64zm-84.69 254.06c6.25 6.25 6.25 16.38 0 22.63l-22.62 22.62c-6.25 6.25-16.38 6.25-22.63 0L384 301.25l-62.06 62.06c-6.25 6.25-16.38 6.25-22.63 0l-22.62-22.62c-6.25-6.25-6.25-16.38 0-22.63L338.75 256l-62.06-62.06c-6.25-6.25-6.25-16.38 0-22.63l22.62-22.62c6.25-6.25 16.38-6.25 22.63 0L384 210.75l62.06-62.06c6.25-6.25 16.38-6.25 22.63 0l22.62 22.62c6.25 6.25 6.25 16.38 0 22.63L429.25 256l62.06 62.06z" />
                    </svg>
                </li>
                <li class="topbar_list_item"><a href="">log in</a></li>
                <li class="topbar_list_item"><a href="">item</a>
                    <ul class="topbar_list_item_drop">
                        <li><a href="">cloting</a></li>
                        <li><a href="">jeams</a></li>
                        <li><a href="">caps</a></li>
                    </ul>
                </li>
                <li class="topbar_list_item"><a href="./cart">shopping cart</a></li>
            </ul>
        </nav>
    </header>

    <!--item-->
    <nav class="cart">
        <% for ( var i = 0 ; i < data.length ; i++){ %>
        <form name="addform" action="cart" method="post" accept-charset="utf-8" >
        <div class="cart_card">
            <input id="delete" name="delete" type="button" value="Delete" onclick="Delete('<%= data[i].name  %>');">
            <img src="/images/T-shirt.jpg" alt="">
            <div class="cart_card_body">
                <p class="cart_card_body_name"><%= data[i].name %></p>
                <p class="cart_card_body_hashtag">#clothing #fashtion</p>
                <p class="cart_card_body_introduction"><%= data[i].intro  %></p>
                <p>color:</p>
                    <p><input type="radio" name="color" value="blue"> blue</p>
                    <p><input type="radio" name="color" value="yellow"> yellow</p>
                    <p><input type="radio" name="color" value="black"> black</p>
                    <p>nuber:  <input type="number" name="number"  min="1" max="10"></p>
                    <p>size:  
                        <input type="radio" name="size" value="S">S
                        <input type="radio" name="size" value="M">M
                        <input type="radio" name="size" value="L">L
                        <input type="radio" name="size" value="XL">XL
                    </p>
                <p class="cart_card_body_price"><%= data[i].price  %></p>
            </div>
        </form>
        </div>
        <% } %>
        
        


       
    </nav>

     <!--footer-->
     <div class="footer">
        <ul class="footer_contact ">
            <li><a href=""><img style="width:2.2rem;height:2rem" src="/images/fb.jpg" alt=""></a></li>
            <li><a href=""><img style="width:2.2rem;height:2rem" src="/images/ins.PNG" alt=""></a></li>
        </ul>
        <ul class="footer_about">
            <li><a href="">關於我們</a></li>
            <li><a href="">聯絡我們</a></li>
            <li><a href="">提供服務</a></li>
        </ul>
    </div>

</body>
    <script src="/javascripts/shop.js"></script>
</html>